<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>953323206240-5ef5499stg390a5vneefv6eg2tmuob2s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.953323206240-5ef5499stg390a5vneefv6eg2tmuob2s</string>
	<key>API_KEY</key>
	<string>AIzaSyBAnxuWR6YrYoA68E6etNz9xgvIAzChvOM</string>
	<key>GCM_SENDER_ID</key>
	<string>953323206240</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dkunin9.PlantQuiz</string>
	<key>PROJECT_ID</key>
	<string>plantly-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>plantly-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:953323206240:ios:10ab0e865c5dec665e3505</string>
</dict>
</plist>